body,html{font-family:Arial}
body{width:80%;
  padding-left:10%;
  padding-right:10%;
  background-color:#4d4d4d}
body,input,select,label{font-size:1.5vw}
h1{font-size:3vw}
h3{font-size:2vw}
input,select{width:50%}
input[type=checkbox]{width:5%}
form{background-color:#D8D8D8;
  padding:3%}
